@import "_var.scss";

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

body {
    background-color: $black;
    overflow-x: hidden;
}

//media
@media(max-width:$sm) {
    body {
        background-position-x: 85%;
    }
}

//Modal Windows
.modal {
    background: rgba(0, 0, 0, 0.8);

    &::before {
        filter: blur(20px);
    }

    &::after {
        filter: blur(20px);
    }
}

//Components header Block
.header{
    &__title{
        @extend %title_site;
    
        span {
            @extend %title_site_span;
        }
    }
    &__text{
        color: $gray-400;
        font-weight: bold;
        position: relative;

        img {
            position: absolute;
            top: -160%;
            left: -30%;
        }

        span {
            color: $red-500;
            list-style-type: disc;
        }
    }
}

//media header
@media (max-width:$sm){
    .header{
        &__title{
            font-size: 35px;
            padding-left:10%;
        }
        &__text{
            font-size:14px;
            padding-left: 10%;
        }
    }
}


article{
    padding: 50px 0;
    margin: 50px 0;
}

//media
@media (max-width:$sm){
    article{
        padding:0;
    }
}

section{
    padding-top:5%;
}

//Animation

@keyframes showMore {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes twirl{
    100%{
        transform: rotate(360deg);
    }
}

//Button
.btn{
    background-color: $red;
    color:$white;
    text-transform: uppercase;
    border-radius: 50px;
    transition: all ease-in .3s;
    padding: 10px 0;

    &:hover{
        background-color: transparent;
        border:solid $red 1px;
        color:$red;
    }
}
