@import "_global";

/************************************************
        Settings contecst advertisign
************************************************/
.header{
    &__term{
        color:$white;
        font-size: 12px;
        background-color:$red;
        padding:0 1%;
        position: absolute;
        top: 0;
        left: 50px;
        z-index:400;
        font-weight: 100;
        span{
            font-weight: bold;
        }
    }
    &__price{
        display:flex;
        width: 30%;
        justify-content: end;

        .price{
            margin-right: 5%;
            font-size: 20px;
            font-weight: 500;
            color:$white;
        }
    }
}

.modal{
    &__header{
        display: flex;
        justify-content: space-between;
        width: 95%;
        padding:25px 0;
        border-bottom: solid 1px rgba($gray-600, .4);
        
        .modal-title{
            color:rgba($gray-100, .6);
        }
    }
    &__footer{
        padding:25px 0;
    }
}
//media
@media (max-width:$sm){
    .modal__footer div{
        margin-top: 15px;
    }
}

.body__benefit{
    display:flex;
    margin-bottom: 15px;

    img{
        margin-right: 5%;
    }
}

// Mobail app
.benefit{
    &__title{
        color: $white;
        font-size: 20px;
        font-weight: 600;
    }

    &__text{
        color: rgba($gray-600, .6);
        font-size: 14px;
        text-align: justify;
    }
}

//Corporat website
.website__info{
    position:relative;
    margin-bottom: 5%;

    .info__title h1{
        line-height: 60px;
        font-size: 27px;
        color:$white;
        padding-left: 15%;
    }

    .info__title img{
        position: absolute;
        top: -15px;
        left: 0;
    }

    .info__text{
        margin: 0;
        padding-left: 15%;
        color: rgba($gray-600, .8);
    }
}
//Chat bot
.chatBots__info{
    margin-bottom: 3%;

    .chatBots__title{
        display:flex;
    
        h1{
            color:rgba($white, .8);
            padding-left: 5%;
            font-size: 20px;
        }
    
        .chatBots__number{
            font-weight: 600;
            font-size: 17px;
            color:rgba($gray-100, .3);
        }
    }
    
    .chatBots__text{
        color: rgba($gray-600, .4);
        padding-left: 13%;
    }

}

//Target Advertising

.target__body{
    width: 100%;
    padding: 2%;

    .main__benefit{
       display: flex;
       align-items: center;
       margin-bottom: 5%;

       img{
           margin-right: 3%;
       }

       p{
           margin: 0;
           
       }
    }

    .target__hint{
        position: relative;
        padding-top: 9.5%;

        .hint__title{
            position: absolute;
            top: 0;
            left: 0;
            text-transform: uppercase;
            color: rgba($gray-400, .3);
            z-index: -1;
            font-size: 2.7em;
            width: 100%;
            letter-spacing: 6px;
            font-weight: 700;
        }

        .hint{
            padding: 3%;
            background-color: $red;
            border-radius:20px;
        }
    }
}
@media (max-width:$md){
    .target__body .target__hint .hint__title{
        font-size:2em;
    }
}
@media (max-width:$sm){
    .target__body .target__hint .hint__title{
        font-size:1em;
    }
}



/*****End Settings contecst advertisign*****/