@import "_global";

/************************************************
        Settings contecst advertisign
************************************************/
.header{
    &__term{
        color:$white;
        font-size: 12px;
        background-color:$red;
        padding:0 1%;
        position: absolute;
        top: 0;
        left: 50px;
        z-index:400;
        font-weight: 100;
        span{
            font-weight: bold;
        }
    }
    &__price{
        display:flex;
        width: 30%;
        justify-content: end;

        .price{
            margin-right: 5%;
            font-size: 20px;
            font-weight: 500;
            color:$white;
        }
    }
}

.modal{
    &__header{
        display: flex;
        justify-content: space-between;
        width: 95%;
        padding:25px 0;
        border-bottom: solid 1px rgba($gray-600, .4);
        
        .modal-title{
            color:rgba($gray-100, .6);
        }
    }
    &__footer{
        padding:25px 0;
    }
}
//media
@media (max-width:$sm){
    .modal__footer div{
        margin-top: 15px;
    }
}

.body__benefit{
    display:flex;
    margin-bottom: 15px;

    img{
        margin-right: 5%;
    }
}






/*****End Settings contecst advertisign*****/