@import "_global.scss";

/************************************************
                    Navigation
************************************************/
.header {
    background-image: url(@img/header_bg.svg);
    width: 100%;
    height: 800px;
}

//Modal Menu Burger
.burger_menu {
    color: $white;
    font-size: 25px;
    background-color: transparent;
    border: none;
    padding-top: 2%;
    opacity: .6;
    transition: opacity ease-in-out .3s;

    &:hover {
        opacity: 1;
    }
}

.modal-content {
    background-color: #0D0E20;
    padding-top: 50px;
}
//first column
.logo {
    color: $red;
    margin-top: 15%;
}

//media
@media (max-width:376px) {
    .logo {
        margin-top: 0;
        text-align: center;
    }
}

.socials {
    display: flex;
    justify-content: space-around;
    margin-top: 10%;

    &_icon {
        text-align: center;
        background-color: $gray-600;
        padding: 5%;
        border-radius: 100%;
        transition: background ease-in-out .3s;


        &:hover {
            background-color: $red;
        }
    }
}

.email_wrapper,
.call_wrapper {
    color: $white;
    margin: 10px 0;
    display: flex;
    align-items: center;
    text-align: center;
}

.email_wrapper span,
.call_wrapper span {
    padding-left: 2%;
}

//media
@media (max-width:376px) {

    .email_wrapper,
    .call_wrapper {
        justify-content: center;
    }

    .email_wrapper span,
    .call_wrapper span {
        font-size: 20px;
    }
}

.data_week {
    text-align: center;

    span {
        &:nth-last-child(1) {
            color: $gray-600;
            padding-left: 15%;
        }

        &:nth-child(1) {
            color: $gray-400;
            padding-left: 15%;
        }
    }
}

//media
@media (max-width:376px) {

    .data_week span:nth-last-child(1),
    .data_week span:nth-child(1) {
        padding-left: 35%;
    }
}


//second column
.menu {
    width: 100%;
    padding-left: 15%;

    .display-3 {
        margin-top: 5%;

        a {
            font-weight: bold;
            text-decoration: none;
            color: $white;
            transition: all ease-in-out .3s;

            &:hover {
                color: transparent;
                -webkit-text-stroke: 1px $white;
            }
        }
    }
}

//media
@media (max-width:376px) {
    .menu {
        padding: 0;
        margin-top: 15%;

        .display-3 {
            text-align: center;
        }
    }
}


//third column
.btn_close_wrapper {
    display: flex;
    justify-content: end;
}

//media
@media (max-width:376px) {
    .btn_close_wrapper {
        position: absolute;
        top: 0;
        right: 15%;
    }
}

.btn_close_menu {
    background-color: $white;
    display: flex;
    border-radius: 100%;
    opacity: 1;
    font-size: 20px;
}

.services {
    &_wrapper {
        display: flex;
        justify-content: center;
    }

    div {
        font-size: 20px;
        margin: 5% 0;
        color: $white;
        cursor: pointer;
        line-height: 2.1;

        &:nth-child(1):hover {
            border: none;
        }

        &:hover {
            border-bottom: solid 1px $white;
        }
    }
}

//media
@media(max-width:376px) {
    .services {
        margin-top: 15%;
        text-align: center;
    }
}
//End Modal Menu Burger

.btn_languages a {
    color: $gray-400;

    &:hover {
        color: $gray-400;
        border-bottom: solid 1px $white;
    }
}

//Get Subscribe Modal Window
.btn_get_subscribe {
    background-color: transparent;
    border: none;
    color: $red;
    border-bottom-style: dotted;
}

.modal-header {
    border: none;
}

.btn_close_get_advice {
    background-color: #68696E;
    margin-left: 10%;
}

.btn__close{
    position: absolute;
    top: 10px;
    right: 20px;
}
@media (max-width:$sm){
    .btn__close{
        top:15px;
        right: 15px;
    }
}

.modal-title {
    color: $white;
    text-align: center;
    font-size: 25px;
    padding-bottom: 4px;
}

//Content body
.label_serveces,
.label_name,
.label_number {
    width: 100%;
    text-align: center;
    color: $gray-400;
    margin-bottom: 1rem;
}

.form-select,
.form-control {
    background-color: $bg-form;
    color: #68696E;
    border-radius: 20px;
    border: none;
    line-height: 2;
}

//Content footer
.modal-footer {
    border: none;
}

.btn_get_proposal {
    width: 100%;
    line-height: 50px;
    border-radius: 50px;
    background-color: $red;
    color: $white;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: none;
    box-shadow: 0px 4px 20px 3px rgba($red, .65);
    transition: box-shadow ease-in-out .3s;
    margin-bottom: .75rem;

    &:hover {
        box-shadow: 0px 4px 10px 3px rgba($red, .65);
    }
}

.form-check {
    display: flex;
    align-items: center;
    margin-top: 3%;

    &-label {
        color: $gray-400;
        line-height: 1;
    }

    &-input {
        width: 1.5rem;
        height: 1rem;
        margin-right: 5%;

        &:checked {
            background-color: $red;
            border: $red;
        }
    }
}
//End Get Subscribe Modal Window
@media (max-width:$sm){
    .number__phone{
        font-size: 14px;
    }
}


/*************** End Navigation ***************/

/************************************************
                First Screen
************************************************/

.scroll__down{
    &:hover .arrow_down{
        top:-5%;
    }
}
.arrow_down{
    position: absolute;
    top: -20%;
    left: 50%;
    z-index: 0;
    transition: top ease-in-out .5s;
}
.animation_text{
    position:relative;
    width: 120%;
    animation: twirl linear 10s infinite;
}

.slogan {
    color: $white;
    font-weight: bold;

    &_wrapper {
        display: flex;
        justify-content: end;
    }
}

//media
@media (max-width:$md) {
    .title_wrapper {
        font-size: 45px;
        justify-content: center;
    }
}

@media (max-width:$sm) {
    .slogan_wrapper div{
        width: 100%;
    }
}

.text-end, p{
    color: $white;
}
//media
@media (max-width:$sm){
    .text-end{
        margin-bottom: 0;
    }
}

.benefits {
    padding: 30px;
    margin: 3px;
    border: solid 1px $white;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, .15);
}

.benefit {
    display: flex;

    img {
        width: 40px;
        height: 40px;
    }
}

//media
@media (max-width:$md) {
    .benefits {
        margin-top: 5%;
    }

    .benefit {
        font-size: 15px;
        margin: 5px 0;

        img {
            margin-right: 5px;
        }

        p {
            margin: 0;
            display: flex;
            align-items: center;
        }
    }
}
@media (max-width:$sm){
    .benefits {
        padding: 5%;
    }

    .benefit {
        font-size: 15px;
        margin: 5px 0;

        img {
            margin-right: 5px;
        }

        p {
            margin: 0;
            display: flex;
            align-items: center;
        }
    }
}


.buttons {
    width: 100%;
    margin-top: 5%;
}
//media
@media (max-width:$sm){
    .buttons{
        margin-top: 0;
    }
}
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 60px;
    margin: 10px 0 0 50%;
    border: solid 1px $gray-400;
    border-radius: 40px;
    color: $gray-400;
    text-decoration: none;
    transition: all ease-in-out .3s;
    background-color: transparent;

    &:hover {
        color: $white;
        background-color: $red;
        border: solid 1px $red;
    }

    &_active {
        color: $white;
        background-color: $red;
        border: solid 1px $red;
        box-shadow: 0px 4px 20px 3px rgba($red, .65);

        &:hover {
            background-color: transparent;
            border: solid 1px $gray-400;
            color: $gray-400;
            box-shadow: none;
        }
    }
}

//media
@media(max-width:$md) {
    .buttons {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .button {
        margin: 2% 0;
    }
}

.ribbon {
    &_red {
        color: $white;
        background-color: $red;
        transform: rotate(4deg);
        line-height: 30px;
    }

    &_gray {
        color: $gray-100;
        background-color: $gray-600;
        transform: rotate(-5deg);
        opacity: .8;
        margin-top: 5%;
        line-height: 30px;
    }
}

//Modal Window Leave a request  
.modal {
    &__body {
        background: rgba($black, 0.37);
        display: flex;
        align-items: center;
        border-radius: 20px;
        border: solid 2px rgba($gray-600, .3);
        padding: 20px;
        overflow: hidden;
    }

    &__photo {
        width: 100%;
        position: relative;
        top: 20%;
        z-index: 2;

    }

    &__btn_close {
        width: 100%;
        text-align: end;
    }

    &__circle {
        position: absolute;
        bottom: -100px;
        left: -100px;
        background-color: $red;
        width: 400px;
        height: 400px;
        border-radius: 100%;
        z-index: 0;
    }

    &__messenger {
        margin-top: 5%;
    }
}

.label__text_disabled {
    color: $gray-600;
    opacity: .6;
}

.messenger__title {
    width: 100%;
    text-align: center;
    color: $white;
    padding-bottom: 3%;
}

.messenger__icon {
    display: flex;
    margin: 0 auto;
    width: 70%;
    padding: 15px;
    border-radius: 100px;
    border: solid 1px rgba($gray-600, .3);
    opacity: .8;
    cursor: pointer;
    transition: all ease .3s;

    &:hover {
        background-color: $red;
        opacity: 1;
    }
}

.messenger__icon.active {
    background-color: $red;
    opacity: 1;
    border: none;
}
//End Modal Window Leave a request

//Ribbon run
.ribbon {
    &_red {
        color: $white;
        background-color: $red;
        transform: rotate(4deg);
        line-height: 30px;
    }

    &_gray {
        color: $gray-100;
        background-color: $gray-600;
        transform: rotate(-5deg);
        opacity: .8;
        margin-top: 5%;
        line-height: 30px;
    }
}
//End Ribbon Run

/*************** End First Screen ***************/

/*************************************************
                    Slider
*************************************************/

.image-slider__wrapper {
    margin-top: 5%;
}
.image-slider__slide{
    display: flex;
    justify-content: center;
    align-items: center;
}
.swiper-slide-visible{
    opacity: 0.3;
}
.swiper-slide-next,
.swiper-slide-active,
.swiper-slide-prev{
    opacity: 1;
}
//Arrows
.image-slider .swiper-button-prev::after,
.image-slider .swiper-button-next::after{
    color:$white;
    font-size: 80px;
}

.card {
    &_wrapper{
        width: 85%;
        height: 100%;
        cursor: pointer;
        border-radius:20px;
        border:none;

        &:hover .slider__card_box{
            background:linear-gradient(25deg,rgba(#CC0C01,.8), rgba(#FFFFFF,0%) 60%);
            border-radius:20px ;
        }
        &:hover .slider__card_img{
            filter: grayscale(10%); 
        }
    }

    &_social_network_person{
        display: flex;
        justify-content: end;
    }
    &_social_link{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
        border: solid 1px $black;
        border-radius: 50%;
        transition: all ease-in .3s;

        &:hover {
            background-color: $red-500;
            border: none;
        }
    }

    &_name_person {
        color: $white;
        font-weight: bold;
        font-size: 20px;
        margin-bottom: 0;
    }

    &-text {
        font-style: italic;
    }
}

.text_wrapper{
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: end;
    padding: 40px 10px;
    transition: all ease-in-out .5s;
}


.slider{
    &__card_img{
        filter: grayscale(1);
        border-radius: inherit;
        transition: filter ease-in-out .1s;
    }
    
    &__card_box{
        transition: background ease-in-out .3s;
    }
}
@media (max-width:$md){
    .slider__card_img{
        filter: grayscale(0);
    }
}

/****************** End Slider ******************/

/*************************************************
                Our Value
*************************************************/
.article_values {
    position: relative;
}

//media
@media (max-width:$md) {
    .article_values {
        overflow: hidden;
    }
}

.values {
    &_wrapper {
        padding: 20px 10px;
        display: flex;

        img {
            display: block;
            width: 50px;
            height: 50px;
            margin-right: 20px;
        }
    }

    &_title {
        color: $gray-100;
        font-size: 20px;
        font-weight: bold;
    }

    &_text {
        color: $gray-400;
        opacity: .6;
        font-size: 14px;
        margin-left: 5px;
        padding-right: 100px;
    }

    &_puzzles {
        position: absolute;
        top: 0;
        right: -40%;
        width: 1000px;
        opacity: .9;
        z-index: -1;
    }
}
//media
@media (max-width:$md){
    .values{
        &_wrapper{
            width: 80%;
            margin: 0 auto;
        }
        
        &_text{
            padding: 0;
        }

        &_puzzles{
            top:10%;
            opacity: .2;
        }
    }
}
@media (max-width:$sm){
    .values{
        &_wrapper{
            width: 100%;
            display: flex;
            flex-wrap: wrap;
        }
        
        &_text{
            padding: 0;
        }

        &_puzzles{
            top:10%;
            opacity: .2;
        }
    }
}

//Parallax
.images_left_ball,
.images_right_ball {
    position: absolute;
    top: 30%;
    border-radius: 100%;
    z-index: -1;
}

.images_left_ball {
    background: url('../img/Ball_left.svg') 0 0 / 100% no-repeat;
    width: 250px;
    height: 250px;
    left: -170px;
}

.images_right_ball {
    background: url('../img/Ball_right.svg') 0 0 / 100% no-repeat;
    width: 200px;
    height: 200px;
    top: 80%;
    right: 15%;
    z-index: 11;
}
//media
@media (max-width:$md){
    .images_left_ball,
    .images_right_ball{
        z-index: -1;
        opacity: .2;
    }
}

/****************** End Our Value ******************/

/*************************************************
                Our Services
*************************************************/
.our_services {
    &_wrapper {
        width: 75%;
        display: flex;
        flex-wrap: wrap;
        border: $line;
        border-radius: 20px;
    }
}

//Cards
.card {
    background-color: transparent;

    &_left {
        display: flex;
        align-items: center;
        border-right: $line;
        border-bottom: $line;

        &:nth-last-child(2) {
            border-bottom: none;
        }
    }

    &_right {
        display: flex;
        align-items: center;
        border-bottom: $line;

        &:nth-last-child(1) {
            border-bottom: none;
        }
    }

    &-title {
        color: $gray-400;
        font-size: 24px;
        font-weight: bold;
    }

    &-text {
        font-size: 16px;
    }

    &_btn_price {
        display: flex;
        justify-content: space-between;
        position: relative;
    }

    &_btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
        max-width: 200px;
        height: 50px;
        color: $white;
        background-color: $red;
        border-radius: 100px;
        text-decoration: none;
        transition: all ease-in-out .3s;

        img {
            margin-left: 3%;
            transition: all ease-in-out .3s;
        }

        &:hover {
            border: solid 1px $red;
            background-color: transparent;
            color: $red;

            img {
                margin-left: 10%;
            }
        }
    }

    &_price {
        font-size: 30px;
    }
}
//media
@media (max-width:$sm){
    .card_left{
        border:none;
    }
}
/****************** End Our Services ******************/

/*************************************************
            Ten reasons work with us
*************************************************/
.img_person {
    position: relative;
    z-index: 2;
}

.reasons {
    &_gradient {
        &_1 {
            @extend %gradient;
            top: 0;
            left: 50px;
        }

        &_2 {
            @extend %gradient;
            width: 450px;
            top: 40%;
        }

        &_3 {
            @extend %gradient;
            width: 450px;
            top: 40%;
            left: 20%;
        }
    }

    &_text {
        color: $white;

        span {
            color: $red;
        }

        &_wrapper {
            display: flex;
            position: absolute;
            top: 0;
            right: 0px;
            z-index: 4;
            width: 35%;

            img {
                width: 40px;
                height: 40px;
            }
        }

    }

    &_title {
        margin: 24px 0;
        text-align: center;
        position: relative;
        z-index: 3;
        @extend %title_site;

        span {
            @extend %title_site_span;
        }
    }

    &_btn_socials_network {
        display: flex;
        align-items: center;
        padding-left: 40px;
        justify-content: center;
    }

    &_socials {
        width: 25%;
        display: flex;
        justify-content: space-between;

        &_link {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50px;
            height: 50px;
            border: solid 1px $white;
            border-radius: 50px;
            transition: all ease-in .3s;

            &:hover {
                background-color: $red;
                border: none;
            }

            img {
                width: 20px;
                height: 20px;
            }
        }
    }
}

.reasons_btn_socials_network{
    .nav-item{
        display: flex;
        justify-content: start;
        width: 60%;
    }
    .button{
        margin: 0;
    }
}
//media
@media (max-width:$sm){
    .reasons_btn_socials_network{
        padding: 0;
    }   
}


//Content Right
.reason {
    &_work_content {
        display: flex;
        padding: 8px;
        margin: 16px 0;

        img{
            width: 100px;
            margin-right: 24px;
            padding: 0.3rem;
        }
    }

    &_title {
        color: $white;
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 8px;
    }

    &_text {
        color: $gray-400;
        opacity: .5;
        font-size: 16px;
        width: 100%;
        text-align: justify;
    }
}
//media
@media (max-width:$sm){
    .reason_work_content img{
        padding: 0px;
    }
}

.reasons_work.hide {
    display: none;
}

.reasons_work.active {
    display: block;
    animation: showMore 3s;
}

#btn_more {
    font-size: 18px;
    background: transparent;
    border: none;
    color: $red;
    display: block;
    margin: 0 auto;
    text-transform: uppercase;
    transition: all ease-out .3s;

    &:hover {
        border-bottom: solid 1px $red;
        color: $white;
        font-size: 20px;
        font-weight: bold;
    }
}

.messenger__title {
    width: 100%;
    text-align: center;
    color: $white;
    padding-bottom: 3%;
}

.messenger__icon {
    display: flex;
    margin: 0 auto;
    width: 70%;
    padding: 15px;
    border-radius: 100px;
    border: solid 1px rgba($gray-600, .3);
    opacity: .8;
    cursor: pointer;
    transition: all ease .3s;

    &:hover {
        background-color: $red;
        opacity: 1;
    }
}

.messenger__icon.active {
    background-color: $red;
    opacity: 1;
    border: none;
}

/****************** End Ten reasons work with us ******************/

/*************************************************
            Stages of cooperation
*************************************************/
//header
#position{
    top:-97%;
}

//section
.cooperation__item {
    cursor: pointer;
}

.body {
    &__title {
        color: $white;
        font-size: 18px;
        font-weight: bold;

        span {
            color: $gray-600;
            opacity: .6;
            font-size: 14px;
            margin-right: 3%;
        }
    }

    &__info {
        padding-left: 12%;
    }
}

.body__img_point.active {
    display: block;
    height: 70px;
    position: absolute;
    top: -20px;
    left: -5px;
    z-index: -1;
    animation: showMore 1s;
}

.body__img_point {
    display: none;
}

.info {
    &__text {
        width: 100%;
        font-size: 14px;
        color: $gray-600;
        opacity: .8;
        margin: 10% 0;
        letter-spacing: .5px;
    }

    &__button {
        display: none;
    }
}

.info__button.active {
    width: 50%;
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $red;
    text-transform: uppercase;
    font-size: 14px;
    border-bottom: solid 1px $red;
    line-height: 1;
    cursor: pointer;
    animation: showMore 1s;
    margin: 5% 0;

    &:hover,
    &:hover span {
        color: $white;
    }

    span {
        color: $red;
        font-size: 20px;
        padding-bottom: 5px;
    }
}

@media (max-width:$md){
    .info__button.active{
        width: 65%;

    }
}
/****************** End Stages of cooperation ******************/

/*************************************************
                Result our work
*************************************************/
//navigation
.nav {
    &-link {
        color: $white;

        &:hover {
            color: $red;
        }
    }

    // &-link.active,
    &-link:focus {
        color: $red;
        opacity: .7;
    }
}

//media
@media (max-width:$md){
    .sub__nav{
        margin-top:3%;
    }
}

//Cards
.result__card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;

    &:hover {
        background: none;
    }

    &_content {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        background-color: rgba($black, .3);
        overflow: hidden;

        .card-text {
            width: 70%;
            min-height: 96px;
            max-height: 150px;
        }
    }

    &-img {
        position: relative;
        z-index: -1;

        &:hover {
            background: none;
        }
    }

}

.card__title {
    &_wrapper {
        width: 100%;

        h5 {
            font-size: 24px;
            color: $white;
        }
    }

    &_above {
        max-width: 70%;
        display: inline-block;
        border: solid 1px $white;
        padding: 2% 5%;
        border-radius: 20px;
        text-align: center;
        font-size: 11px;
        opacity: .6;
    }
}

.card__wrapper{
    display: none;
}
.card__wrapper.active{
    display: flex;
    animation: showMore 3s;
}

/****************** End Result our work ******************/

/*************************************************
                    Questions
*************************************************/
.question{
    &__title{
        @extend %title_site;

        span{
            @extend %title_site_span;
        }
    }

    &__subtitle{
        .subtitle__img{
            position: absolute;
            top: 113px;
            left: -100px;
            z-index: 0;
        }

        .subtitle__text{
            color: $gray-100;
            font-weight: bold;
            padding-left: 40px;

            span {
                color: $red;
            }
        }
    }

    &__mark{
        width: 100%;
        color: $white;
    }

    &__buttons{
        margin-top: 15%;
    }
}
//media
@media (max-width:$md){
    .question__subtitle .subtitle__text{
        padding: 0;
    }

    .question__buttons{
        margin-top: 5%;
        
        div{
            margin-top: 5%
        }
    }
}
@media (max-width:$sm){
    .question_wrapper{
        overflow:hidden;
    }

    .question__mark{
        position:absolute;
        top:0;
        right: -20%;
        z-index: -1;
        opacity: .6;
    }
}

/************* End  Questions *************/

/*************************************************
                    Feedback
*************************************************/  
.feedback{
    &__head{
        .head__title {
            @extend %title_site;
            
            span{
                @extend %title_site_span;
            }
        }
        .subtitle__text {
            color: $gray-100;
            font-weight: bold;

            span {
                color: $red;
            }
        }

    }

    &__body{
        margin-top:50px;

        .body__email,
        .body__call{
            display: flex;
            margin-top: 10px;

            img{
                background-color:$red;
                border-radius:50px;
                padding: 1%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            
            span{
                padding-left: 3%;
                color:$white;
                font-size:18px;
            }
        }
        
        .body__workSchedule {
            padding-left: 9%;
            color:$gray-600;
            font-size:14px;
        }

    }

    &__footer{
        margin-top: 50px;

        a{
            width: 100%;
        }
        img{
            border-radius: 50px;
            border:solid 1px $gray-600;
            padding: 3%;
            margin-right: 1%;
            cursor: pointer;
            transition: background-color ease-in .3s;

            &:hover{
                background-color: $red;
                border:none
            }
        }

    }
    //Form
    &__form{ 
        background: rgba(25, 24, 38, 0.42);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(12.4px);
        -webkit-backdrop-filter: blur(12.4px);
        border: 1px solid rgba(25, 24, 38, 0.3);
        padding: 5%;

        .form__title{
            text-align: center;
            color: $white;
            font-weight: bold;
        }
    }
}
//media
@media (max-width:$md){
    .feedback__body{
        display: flex;
        justify-content: center;
        div{
            width: auto;
        }
    }

    .feedback__body .body__email span, 
    .feedback__body .body__call span{
        font-size: 25px;
    }

    .feedback__body .body__email img, 
    .feedback__body .body__call img{
        width: 50px;
        height: 50px;
    }

    .feedback__body .body__workSchedule{
        padding-left:20%;
        font-size: 18px;
    }

    .feedback__footer{
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
        
        img{
            display: block;
            width: 50px;
            height: 50px;
        }

        div{
            display: flex;
            width: auto;
        }
        a{
            padding: 2%;
        }
    }
}
/************* End Feedback *************/

/*************************************************
                    Footer
*************************************************/
footer{
    border-top:solid 2px rgba($gray-600, .2);
    padding:5% 0 1% 0;
}

.logo__item{
    font-size: 40px;

    .logo__link{
        color:$red;
        text-decoration: none;
    }
}

.navigation{
    display: flex;
    align-items: center;

    &__items{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin: 0;

        li{
            display: inline-block;
            width: 100%;
            height: 100%;
            text-align: center;

            &:nth-last-child(1) a{
                border-radius: 50px;
                padding: 5%;
                background-color: $red;
                color: $gray-100;
                transition: all ease-in-out .5s;

                &:hover{
                    background-color:transparent;
                    border:solid 1px $red;
                }
            }
        }
    }   

    &__link{
        color: $gray-600;
        cursor: pointer;
        text-decoration: none;
        display: inline-block;
        transition: color ease-out .3s;
        text-transform: uppercase;
        font-size: 14px;
        width: 100%;

        &:hover{
            color: $gray-100;
        }

    }
}
//media
@media (max-width:$sm){
    .navigation{
        flex-wrap: wrap;

        &__items{
            flex-wrap: wrap;

        }
    }

    .navigation__link{
        font-size: 25px;
        margin-top: 5%;
    }
}

.sub{
    &__navigation{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 3%;
    }

    &__rules,
    &__policy,
    &__develop{
        color:$gray-400;
        cursor: pointer;
        font-size: 14px;
        opacity: .6;
        transition: opacity ease-in .3s ;

        &:hover{
            opacity: 1;
        }
    }

    &__policy{
        text-decoration: underline;
    }

    &__develop{
        color:$red;
    }
}
//media
@media (max-width:$sm){
    .sub__navigation{
        flex-wrap:wrap;
        margin-top: 10%;
    }

    .sub__rules, .sub__policy, .sub__develop{
        width: 100%;
        margin-top: 4%;
        text-align: center;
    }
}


/************* End Footer *************/