.feedback__head .head__title, .question__title, .reasons_title, .header__title {
  color: rgba(248, 249, 250, 0.6);
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 100;
}

.feedback__head .head__title span, .question__title span, .reasons_title span, .header__title span {
  font-weight: bold;
  color: #fff;
}

.reasons_gradient_3, .reasons_gradient_2, .reasons_gradient_1 {
  position: absolute;
  display: flex;
  width: 300px;
  height: 300px;
  background: radial-gradient(circle at 50%, #CC0C01, #000);
  filter: blur(100px);
  z-index: 1;
  opacity: 0.7;
}

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

body {
  background-color: #000;
  overflow-x: hidden;
}

@media (max-width: 376px) {
  body {
    background-position-x: 85%;
  }
}
.modal {
  background: rgba(0, 0, 0, 0.8);
}
.modal::before {
  filter: blur(20px);
}
.modal::after {
  filter: blur(20px);
}

.header__text {
  color: #ced4da;
  font-weight: bold;
  position: relative;
}
.header__text img {
  position: absolute;
  top: -160%;
  left: -30%;
}
.header__text span {
  color: #dc3545;
  list-style-type: disc;
}

@media (max-width: 376px) {
  .header__title {
    font-size: 35px;
    padding-left: 10%;
  }
  .header__text {
    font-size: 14px;
    padding-left: 10%;
  }
}
article {
  padding: 50px 0;
  margin: 50px 0;
}

@media (max-width: 376px) {
  article {
    padding: 0;
  }
}
section {
  padding-top: 5%;
}

@keyframes showMore {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes twirl {
  100% {
    transform: rotate(360deg);
  }
}
.btn {
  background-color: #CC0C01;
  color: #fff;
  text-transform: uppercase;
  border-radius: 50px;
  transition: all ease-in 0.3s;
  padding: 10px 0;
}
.btn:hover {
  background-color: transparent;
  border: solid #CC0C01 1px;
  color: #CC0C01;
}

.feedback__head .head__title, .question__title, .reasons_title, .header__title {
  color: rgba(248, 249, 250, 0.6);
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 100;
}

.feedback__head .head__title span, .question__title span, .reasons_title span, .header__title span {
  font-weight: bold;
  color: #fff;
}

.reasons_gradient_3, .reasons_gradient_2, .reasons_gradient_1 {
  position: absolute;
  display: flex;
  width: 300px;
  height: 300px;
  background: radial-gradient(circle at 50%, #CC0C01, #000);
  filter: blur(100px);
  z-index: 1;
  opacity: 0.7;
}

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

body {
  background-color: #000;
  overflow-x: hidden;
}

@media (max-width: 376px) {
  body {
    background-position-x: 85%;
  }
}
.modal {
  background: rgba(0, 0, 0, 0.8);
}
.modal::before {
  filter: blur(20px);
}
.modal::after {
  filter: blur(20px);
}

.header__text {
  color: #ced4da;
  font-weight: bold;
  position: relative;
}
.header__text img {
  position: absolute;
  top: -160%;
  left: -30%;
}
.header__text span {
  color: #dc3545;
  list-style-type: disc;
}

@media (max-width: 376px) {
  .header__title {
    font-size: 35px;
    padding-left: 10%;
  }
  .header__text {
    font-size: 14px;
    padding-left: 10%;
  }
}
article {
  padding: 50px 0;
  margin: 50px 0;
}

@media (max-width: 376px) {
  article {
    padding: 0;
  }
}
section {
  padding-top: 5%;
}

@keyframes showMore {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes twirl {
  100% {
    transform: rotate(360deg);
  }
}
.btn {
  background-color: #CC0C01;
  color: #fff;
  text-transform: uppercase;
  border-radius: 50px;
  transition: all ease-in 0.3s;
  padding: 10px 0;
}
.btn:hover {
  background-color: transparent;
  border: solid #CC0C01 1px;
  color: #CC0C01;
}

/************************************************
        Settings contecst advertisign
************************************************/
.header__term {
  color: #fff;
  font-size: 12px;
  background-color: #CC0C01;
  padding: 0 1%;
  position: absolute;
  top: 0;
  left: 50px;
  z-index: 400;
  font-weight: 100;
}
.header__term span {
  font-weight: bold;
}
.header__price {
  display: flex;
  width: 30%;
  justify-content: end;
}
.header__price .price {
  margin-right: 5%;
  font-size: 20px;
  font-weight: 500;
  color: #fff;
}

.modal__header {
  display: flex;
  justify-content: space-between;
  width: 95%;
  padding: 25px 0;
  border-bottom: solid 1px rgba(108, 117, 125, 0.4);
}
.modal__header .modal-title {
  color: rgba(248, 249, 250, 0.6);
}
.modal__footer {
  padding: 25px 0;
}

@media (max-width: 376px) {
  .modal__footer div {
    margin-top: 15px;
  }
}
.body__benefit {
  display: flex;
  margin-bottom: 15px;
}
.body__benefit img {
  margin-right: 5%;
}

/*****End Settings contecst advertisign*****/
/************************************************
                    Navigation
************************************************/
.header {
  background-image: url(../img/header_bg.svg);
  width: 100%;
  height: 800px;
}

.burger_menu {
  color: #fff;
  font-size: 25px;
  background-color: transparent;
  border: none;
  padding-top: 2%;
  opacity: 0.6;
  transition: opacity ease-in-out 0.3s;
}
.burger_menu:hover {
  opacity: 1;
}

.modal-content {
  background-color: #0D0E20;
  padding-top: 50px;
}

.logo {
  color: #CC0C01;
  margin-top: 15%;
}

@media (max-width: 376px) {
  .logo {
    margin-top: 0;
    text-align: center;
  }
}
.socials {
  display: flex;
  justify-content: space-around;
  margin-top: 10%;
}
.socials_icon {
  text-align: center;
  background-color: #6c757d;
  padding: 5%;
  border-radius: 100%;
  transition: background ease-in-out 0.3s;
}
.socials_icon:hover {
  background-color: #CC0C01;
}

.email_wrapper,
.call_wrapper {
  color: #fff;
  margin: 10px 0;
  display: flex;
  align-items: center;
  text-align: center;
}

.email_wrapper span,
.call_wrapper span {
  padding-left: 2%;
}

@media (max-width: 376px) {
  .email_wrapper,
.call_wrapper {
    justify-content: center;
  }

  .email_wrapper span,
.call_wrapper span {
    font-size: 20px;
  }
}
.data_week {
  text-align: center;
}
.data_week span:nth-last-child(1) {
  color: #6c757d;
  padding-left: 15%;
}
.data_week span:nth-child(1) {
  color: #ced4da;
  padding-left: 15%;
}

@media (max-width: 376px) {
  .data_week span:nth-last-child(1),
.data_week span:nth-child(1) {
    padding-left: 35%;
  }
}
.menu {
  width: 100%;
  padding-left: 15%;
}
.menu .display-3 {
  margin-top: 5%;
}
.menu .display-3 a {
  font-weight: bold;
  text-decoration: none;
  color: #fff;
  transition: all ease-in-out 0.3s;
}
.menu .display-3 a:hover {
  color: transparent;
  -webkit-text-stroke: 1px #fff;
}

@media (max-width: 376px) {
  .menu {
    padding: 0;
    margin-top: 15%;
  }
  .menu .display-3 {
    text-align: center;
  }
}
.btn_close_wrapper {
  display: flex;
  justify-content: end;
}

@media (max-width: 376px) {
  .btn_close_wrapper {
    position: absolute;
    top: 0;
    right: 15%;
  }
}
.btn_close_menu {
  background-color: #fff;
  display: flex;
  border-radius: 100%;
  opacity: 1;
  font-size: 20px;
}

.services_wrapper {
  display: flex;
  justify-content: center;
}
.services div {
  font-size: 20px;
  margin: 5% 0;
  color: #fff;
  cursor: pointer;
  line-height: 2.1;
}
.services div:nth-child(1):hover {
  border: none;
}
.services div:hover {
  border-bottom: solid 1px #fff;
}

@media (max-width: 376px) {
  .services {
    margin-top: 15%;
    text-align: center;
  }
}
.btn_languages a {
  color: #ced4da;
}
.btn_languages a:hover {
  color: #ced4da;
  border-bottom: solid 1px #fff;
}

.btn_get_subscribe {
  background-color: transparent;
  border: none;
  color: #CC0C01;
  border-bottom-style: dotted;
}

.modal-header {
  border: none;
}

.btn_close_get_advice {
  background-color: #68696E;
  margin-left: 10%;
}

.btn__close {
  position: absolute;
  top: 10px;
  right: 20px;
}

@media (max-width: 376px) {
  .btn__close {
    top: 15px;
    right: 15px;
  }
}
.modal-title {
  color: #fff;
  text-align: center;
  font-size: 25px;
  padding-bottom: 4px;
}

.label_serveces,
.label_name,
.label_number {
  width: 100%;
  text-align: center;
  color: #ced4da;
  margin-bottom: 1rem;
}

.form-select,
.form-control {
  background-color: #25252D;
  color: #68696E;
  border-radius: 20px;
  border: none;
  line-height: 2;
}

.modal-footer {
  border: none;
}

.btn_get_proposal {
  width: 100%;
  line-height: 50px;
  border-radius: 50px;
  background-color: #CC0C01;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: none;
  box-shadow: 0px 4px 20px 3px rgba(204, 12, 1, 0.65);
  transition: box-shadow ease-in-out 0.3s;
  margin-bottom: 0.75rem;
}
.btn_get_proposal:hover {
  box-shadow: 0px 4px 10px 3px rgba(204, 12, 1, 0.65);
}

.form-check {
  display: flex;
  align-items: center;
  margin-top: 3%;
}
.form-check-label {
  color: #ced4da;
  line-height: 1;
}
.form-check-input {
  width: 1.5rem;
  height: 1rem;
  margin-right: 5%;
}
.form-check-input:checked {
  background-color: #CC0C01;
  border: #CC0C01;
}

@media (max-width: 376px) {
  .number__phone {
    font-size: 14px;
  }
}
/*************** End Navigation ***************/
/************************************************
                First Screen
************************************************/
.scroll__down:hover .arrow_down {
  top: -5%;
}

.arrow_down {
  position: absolute;
  top: -20%;
  left: 50%;
  z-index: 0;
  transition: top ease-in-out 0.5s;
}

.animation_text {
  position: relative;
  width: 120%;
  animation: twirl linear 10s infinite;
}

.slogan {
  color: #fff;
  font-weight: bold;
}
.slogan_wrapper {
  display: flex;
  justify-content: end;
}

@media (max-width: 811px) {
  .title_wrapper {
    font-size: 45px;
    justify-content: center;
  }
}
@media (max-width: 376px) {
  .slogan_wrapper div {
    width: 100%;
  }
}
.text-end, p {
  color: #fff;
}

@media (max-width: 376px) {
  .text-end {
    margin-bottom: 0;
  }
}
.benefits {
  padding: 30px;
  margin: 3px;
  border: solid 1px #fff;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.15);
}

.benefit {
  display: flex;
}
.benefit img {
  width: 40px;
  height: 40px;
}

@media (max-width: 811px) {
  .benefits {
    margin-top: 5%;
  }

  .benefit {
    font-size: 15px;
    margin: 5px 0;
  }
  .benefit img {
    margin-right: 5px;
  }
  .benefit p {
    margin: 0;
    display: flex;
    align-items: center;
  }
}
@media (max-width: 376px) {
  .benefits {
    padding: 5%;
  }

  .benefit {
    font-size: 15px;
    margin: 5px 0;
  }
  .benefit img {
    margin-right: 5px;
  }
  .benefit p {
    margin: 0;
    display: flex;
    align-items: center;
  }
}
.buttons {
  width: 100%;
  margin-top: 5%;
}

@media (max-width: 376px) {
  .buttons {
    margin-top: 0;
  }
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 60px;
  margin: 10px 0 0 50%;
  border: solid 1px #ced4da;
  border-radius: 40px;
  color: #ced4da;
  text-decoration: none;
  transition: all ease-in-out 0.3s;
  background-color: transparent;
}
.button:hover {
  color: #fff;
  background-color: #CC0C01;
  border: solid 1px #CC0C01;
}
.button_active {
  color: #fff;
  background-color: #CC0C01;
  border: solid 1px #CC0C01;
  box-shadow: 0px 4px 20px 3px rgba(204, 12, 1, 0.65);
}
.button_active:hover {
  background-color: transparent;
  border: solid 1px #ced4da;
  color: #ced4da;
  box-shadow: none;
}

@media (max-width: 811px) {
  .buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .button {
    margin: 2% 0;
  }
}
.ribbon_red {
  color: #fff;
  background-color: #CC0C01;
  transform: rotate(4deg);
  line-height: 30px;
}
.ribbon_gray {
  color: #f8f9fa;
  background-color: #6c757d;
  transform: rotate(-5deg);
  opacity: 0.8;
  margin-top: 5%;
  line-height: 30px;
}

.modal__body {
  background: rgba(0, 0, 0, 0.37);
  display: flex;
  align-items: center;
  border-radius: 20px;
  border: solid 2px rgba(108, 117, 125, 0.3);
  padding: 20px;
  overflow: hidden;
}
.modal__photo {
  width: 100%;
  position: relative;
  top: 20%;
  z-index: 2;
}
.modal__btn_close {
  width: 100%;
  text-align: end;
}
.modal__circle {
  position: absolute;
  bottom: -100px;
  left: -100px;
  background-color: #CC0C01;
  width: 400px;
  height: 400px;
  border-radius: 100%;
  z-index: 0;
}
.modal__messenger {
  margin-top: 5%;
}

.label__text_disabled {
  color: #6c757d;
  opacity: 0.6;
}

.messenger__title {
  width: 100%;
  text-align: center;
  color: #fff;
  padding-bottom: 3%;
}

.messenger__icon {
  display: flex;
  margin: 0 auto;
  width: 70%;
  padding: 15px;
  border-radius: 100px;
  border: solid 1px rgba(108, 117, 125, 0.3);
  opacity: 0.8;
  cursor: pointer;
  transition: all ease 0.3s;
}
.messenger__icon:hover {
  background-color: #CC0C01;
  opacity: 1;
}

.messenger__icon.active {
  background-color: #CC0C01;
  opacity: 1;
  border: none;
}

.ribbon_red {
  color: #fff;
  background-color: #CC0C01;
  transform: rotate(4deg);
  line-height: 30px;
}
.ribbon_gray {
  color: #f8f9fa;
  background-color: #6c757d;
  transform: rotate(-5deg);
  opacity: 0.8;
  margin-top: 5%;
  line-height: 30px;
}

/*************** End First Screen ***************/
/*************************************************
                    Slider
*************************************************/
.image-slider__wrapper {
  margin-top: 5%;
}

.image-slider__slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide-visible {
  opacity: 0.3;
}

.swiper-slide-next,
.swiper-slide-active,
.swiper-slide-prev {
  opacity: 1;
}

.image-slider .swiper-button-prev::after,
.image-slider .swiper-button-next::after {
  color: #fff;
  font-size: 80px;
}

.card_wrapper {
  width: 85%;
  height: 100%;
  cursor: pointer;
  border-radius: 20px;
  border: none;
}
.card_wrapper:hover .slider__card_box {
  background: linear-gradient(25deg, rgba(204, 12, 1, 0.8), rgba(255, 255, 255, 0) 60%);
  border-radius: 20px;
}
.card_wrapper:hover .slider__card_img {
  filter: grayscale(10%);
}
.card_social_network_person {
  display: flex;
  justify-content: end;
}
.card_social_link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border: solid 1px #000;
  border-radius: 50%;
  transition: all ease-in 0.3s;
}
.card_social_link:hover {
  background-color: #dc3545;
  border: none;
}
.card_name_person {
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 0;
}
.card-text {
  font-style: italic;
}

.text_wrapper {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: end;
  padding: 40px 10px;
  transition: all ease-in-out 0.5s;
}

.slider__card_img {
  filter: grayscale(1);
  border-radius: inherit;
  transition: filter ease-in-out 0.1s;
}
.slider__card_box {
  transition: background ease-in-out 0.3s;
}

@media (max-width: 811px) {
  .slider__card_img {
    filter: grayscale(0);
  }
}
/****************** End Slider ******************/
/*************************************************
                Our Value
*************************************************/
.article_values {
  position: relative;
}

@media (max-width: 811px) {
  .article_values {
    overflow: hidden;
  }
}
.values_wrapper {
  padding: 20px 10px;
  display: flex;
}
.values_wrapper img {
  display: block;
  width: 50px;
  height: 50px;
  margin-right: 20px;
}
.values_title {
  color: #f8f9fa;
  font-size: 20px;
  font-weight: bold;
}
.values_text {
  color: #ced4da;
  opacity: 0.6;
  font-size: 14px;
  margin-left: 5px;
  padding-right: 100px;
}
.values_puzzles {
  position: absolute;
  top: 0;
  right: -40%;
  width: 1000px;
  opacity: 0.9;
  z-index: -1;
}

@media (max-width: 811px) {
  .values_wrapper {
    width: 80%;
    margin: 0 auto;
  }
  .values_text {
    padding: 0;
  }
  .values_puzzles {
    top: 10%;
    opacity: 0.2;
  }
}
@media (max-width: 376px) {
  .values_wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .values_text {
    padding: 0;
  }
  .values_puzzles {
    top: 10%;
    opacity: 0.2;
  }
}
.images_left_ball,
.images_right_ball {
  position: absolute;
  top: 30%;
  border-radius: 100%;
  z-index: -1;
}

.images_left_ball {
  background: url("../img/Ball_left.svg") 0 0/100% no-repeat;
  width: 250px;
  height: 250px;
  left: -170px;
}

.images_right_ball {
  background: url("../img/Ball_right.svg") 0 0/100% no-repeat;
  width: 200px;
  height: 200px;
  top: 80%;
  right: 15%;
  z-index: 11;
}

@media (max-width: 811px) {
  .images_left_ball,
.images_right_ball {
    z-index: -1;
    opacity: 0.2;
  }
}
/****************** End Our Value ******************/
/*************************************************
                Our Services
*************************************************/
.our_services_wrapper {
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  border: solid 4px rgba(108, 117, 125, 0.1);
  border-radius: 20px;
}

.card {
  background-color: transparent;
}
.card_left {
  display: flex;
  align-items: center;
  border-right: solid 4px rgba(108, 117, 125, 0.1);
  border-bottom: solid 4px rgba(108, 117, 125, 0.1);
}
.card_left:nth-last-child(2) {
  border-bottom: none;
}
.card_right {
  display: flex;
  align-items: center;
  border-bottom: solid 4px rgba(108, 117, 125, 0.1);
}
.card_right:nth-last-child(1) {
  border-bottom: none;
}
.card-title {
  color: #ced4da;
  font-size: 24px;
  font-weight: bold;
}
.card-text {
  font-size: 16px;
}
.card_btn_price {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.card_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  max-width: 200px;
  height: 50px;
  color: #fff;
  background-color: #CC0C01;
  border-radius: 100px;
  text-decoration: none;
  transition: all ease-in-out 0.3s;
  border: none;
}
.card_btn img {
  margin-left: 3%;
  transition: all ease-in-out 0.3s;
}
.card_btn:hover {
  border: solid 1px #CC0C01;
  background-color: transparent;
  color: #CC0C01;
}
.card_btn:hover img {
  margin-left: 10%;
}
.card_price {
  font-size: 30px;
}

@media (max-width: 376px) {
  .card_left {
    border: none;
  }
}
/****************** End Our Services ******************/
/*************************************************
            Ten reasons work with us
*************************************************/
.img_person {
  position: relative;
  z-index: 2;
}

.reasons_gradient_1 {
  top: 0;
  left: 50px;
}
.reasons_gradient_2 {
  width: 450px;
  top: 40%;
}
.reasons_gradient_3 {
  width: 450px;
  top: 40%;
  left: 20%;
}
.reasons_text {
  color: #fff;
}
.reasons_text span {
  color: #CC0C01;
}
.reasons_text_wrapper {
  display: flex;
  position: absolute;
  top: 0;
  right: 0px;
  z-index: 4;
  width: 35%;
}
.reasons_text_wrapper img {
  width: 40px;
  height: 40px;
}
.reasons_title {
  margin: 24px 0;
  text-align: center;
  position: relative;
  z-index: 3;
}
.reasons_btn_socials_network {
  display: flex;
  align-items: center;
  padding-left: 40px;
  justify-content: center;
}
.reasons_socials {
  width: 25%;
  display: flex;
  justify-content: space-between;
}
.reasons_socials_link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border: solid 1px #fff;
  border-radius: 50px;
  transition: all ease-in 0.3s;
}
.reasons_socials_link:hover {
  background-color: #CC0C01;
  border: none;
}
.reasons_socials_link img {
  width: 20px;
  height: 20px;
}

.reasons_btn_socials_network .nav-item {
  display: flex;
  justify-content: start;
  width: 60%;
}
.reasons_btn_socials_network .button {
  margin: 0;
}

@media (max-width: 376px) {
  .reasons_btn_socials_network {
    padding: 0;
  }
}
.reason_work_content {
  display: flex;
  padding: 8px;
  margin: 16px 0;
}
.reason_work_content img {
  width: 100px;
  margin-right: 24px;
  padding: 0.3rem;
}
.reason_title {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 8px;
}
.reason_text {
  color: #ced4da;
  opacity: 0.5;
  font-size: 16px;
  width: 100%;
  text-align: justify;
}

@media (max-width: 376px) {
  .reason_work_content img {
    padding: 0px;
  }
}
.reasons_work.hide {
  display: none;
}

.reasons_work.active {
  display: block;
  animation: showMore 3s;
}

#btn_more {
  font-size: 18px;
  background: transparent;
  border: none;
  color: #CC0C01;
  display: block;
  margin: 0 auto;
  text-transform: uppercase;
  transition: all ease-out 0.3s;
}
#btn_more:hover {
  border-bottom: solid 1px #CC0C01;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}

.messenger__title {
  width: 100%;
  text-align: center;
  color: #fff;
  padding-bottom: 3%;
}

.messenger__icon {
  display: flex;
  margin: 0 auto;
  width: 70%;
  padding: 15px;
  border-radius: 100px;
  border: solid 1px rgba(108, 117, 125, 0.3);
  opacity: 0.8;
  cursor: pointer;
  transition: all ease 0.3s;
}
.messenger__icon:hover {
  background-color: #CC0C01;
  opacity: 1;
}

.messenger__icon.active {
  background-color: #CC0C01;
  opacity: 1;
  border: none;
}

/****************** End Ten reasons work with us ******************/
/*************************************************
            Stages of cooperation
*************************************************/
#position {
  top: -97%;
}

.cooperation__item {
  cursor: pointer;
}

.body__title {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
}
.body__title span {
  color: #6c757d;
  opacity: 0.6;
  font-size: 14px;
  margin-right: 3%;
}
.body__info {
  padding-left: 12%;
}

.body__img_point.active {
  display: block;
  height: 70px;
  position: absolute;
  top: -20px;
  left: -5px;
  z-index: -1;
  animation: showMore 1s;
}

.body__img_point {
  display: none;
}

.info__text {
  width: 100%;
  font-size: 14px;
  color: #6c757d;
  opacity: 0.8;
  margin: 10% 0;
  letter-spacing: 0.5px;
}
.info__button {
  display: none;
}

.info__button.active {
  width: 50%;
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #CC0C01;
  text-transform: uppercase;
  font-size: 14px;
  border-bottom: solid 1px #CC0C01;
  line-height: 1;
  cursor: pointer;
  animation: showMore 1s;
  margin: 5% 0;
}
.info__button.active:hover, .info__button.active:hover span {
  color: #fff;
}
.info__button.active span {
  color: #CC0C01;
  font-size: 20px;
  padding-bottom: 5px;
}

@media (max-width: 811px) {
  .info__button.active {
    width: 65%;
  }
}
/****************** End Stages of cooperation ******************/
/*************************************************
                Result our work
*************************************************/
.nav-link {
  color: #fff;
}
.nav-link:hover {
  color: #CC0C01;
}
.nav-link:focus {
  color: #CC0C01;
  opacity: 0.7;
}

@media (max-width: 811px) {
  .sub__nav {
    margin-top: 3%;
  }
}
.result__card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}
.result__card:hover {
  background: none;
}
.result__card_content {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(0, 0, 0, 0.3);
  overflow: hidden;
}
.result__card_content .card-text {
  width: 70%;
  min-height: 96px;
  max-height: 150px;
}
.result__card-img {
  position: relative;
  z-index: -1;
}
.result__card-img:hover {
  background: none;
}

.card__title_wrapper {
  width: 100%;
}
.card__title_wrapper h5 {
  font-size: 24px;
  color: #fff;
}
.card__title_above {
  max-width: 70%;
  display: inline-block;
  border: solid 1px #fff;
  padding: 2% 5%;
  border-radius: 20px;
  text-align: center;
  font-size: 11px;
  opacity: 0.6;
}

.card__wrapper {
  display: none;
}

.card__wrapper.active {
  display: flex;
  animation: showMore 3s;
}

/****************** End Result our work ******************/
/*************************************************
                    Questions
*************************************************/
.question__subtitle .subtitle__img {
  position: absolute;
  top: 113px;
  left: -100px;
  z-index: 0;
}
.question__subtitle .subtitle__text {
  color: #f8f9fa;
  font-weight: bold;
  padding-left: 40px;
}
.question__subtitle .subtitle__text span {
  color: #CC0C01;
}
.question__mark {
  width: 100%;
  color: #fff;
}
.question__buttons {
  margin-top: 15%;
}

@media (max-width: 811px) {
  .question__subtitle .subtitle__text {
    padding: 0;
  }

  .question__buttons {
    margin-top: 5%;
  }
  .question__buttons div {
    margin-top: 5%;
  }
}
@media (max-width: 376px) {
  .question_wrapper {
    overflow: hidden;
  }

  .question__mark {
    position: absolute;
    top: 0;
    right: -20%;
    z-index: -1;
    opacity: 0.6;
  }
}
/************* End  Questions *************/
/*************************************************
                    Feedback
*************************************************/
.feedback__head .subtitle__text {
  color: #f8f9fa;
  font-weight: bold;
}
.feedback__head .subtitle__text span {
  color: #CC0C01;
}
.feedback__body {
  margin-top: 50px;
}
.feedback__body .body__email,
.feedback__body .body__call {
  display: flex;
  margin-top: 10px;
}
.feedback__body .body__email img,
.feedback__body .body__call img {
  background-color: #CC0C01;
  border-radius: 50px;
  padding: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.feedback__body .body__email span,
.feedback__body .body__call span {
  padding-left: 3%;
  color: #fff;
  font-size: 18px;
}
.feedback__body .body__workSchedule {
  padding-left: 9%;
  color: #6c757d;
  font-size: 14px;
}
.feedback__footer {
  margin-top: 50px;
}
.feedback__footer a {
  width: 100%;
}
.feedback__footer img {
  border-radius: 50px;
  border: solid 1px #6c757d;
  padding: 3%;
  margin-right: 1%;
  cursor: pointer;
  transition: background-color ease-in 0.3s;
}
.feedback__footer img:hover {
  background-color: #CC0C01;
  border: none;
}
.feedback__form {
  background: rgba(25, 24, 38, 0.42);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(12.4px);
  -webkit-backdrop-filter: blur(12.4px);
  border: 1px solid rgba(25, 24, 38, 0.3);
  padding: 5%;
}
.feedback__form .form__title {
  text-align: center;
  color: #fff;
  font-weight: bold;
}

@media (max-width: 811px) {
  .feedback__body {
    display: flex;
    justify-content: center;
  }
  .feedback__body div {
    width: auto;
  }

  .feedback__body .body__email span,
.feedback__body .body__call span {
    font-size: 25px;
  }

  .feedback__body .body__email img,
.feedback__body .body__call img {
    width: 50px;
    height: 50px;
  }

  .feedback__body .body__workSchedule {
    padding-left: 20%;
    font-size: 18px;
  }

  .feedback__footer {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }
  .feedback__footer img {
    display: block;
    width: 50px;
    height: 50px;
  }
  .feedback__footer div {
    display: flex;
    width: auto;
  }
  .feedback__footer a {
    padding: 2%;
  }
}
/************* End Feedback *************/
/*************************************************
                    Footer
*************************************************/
footer {
  border-top: solid 2px rgba(108, 117, 125, 0.2);
  padding: 5% 0 1% 0;
}

.logo__item {
  font-size: 40px;
}
.logo__item .logo__link {
  color: #CC0C01;
  text-decoration: none;
}

.navigation {
  display: flex;
  align-items: center;
}
.navigation__items {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0;
}
.navigation__items li {
  display: inline-block;
  width: 100%;
  height: 100%;
  text-align: center;
}
.navigation__items li:nth-last-child(1) a {
  border-radius: 50px;
  padding: 5%;
  background-color: #CC0C01;
  color: #f8f9fa;
  transition: all ease-in-out 0.5s;
}
.navigation__items li:nth-last-child(1) a:hover {
  background-color: transparent;
  border: solid 1px #CC0C01;
}
.navigation__link {
  color: #6c757d;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  transition: color ease-out 0.3s;
  text-transform: uppercase;
  font-size: 14px;
  width: 100%;
}
.navigation__link:hover {
  color: #f8f9fa;
}

@media (max-width: 376px) {
  .navigation {
    flex-wrap: wrap;
  }
  .navigation__items {
    flex-wrap: wrap;
  }

  .navigation__link {
    font-size: 25px;
    margin-top: 5%;
  }
}
.sub__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3%;
}
.sub__rules, .sub__policy, .sub__develop {
  color: #ced4da;
  cursor: pointer;
  font-size: 14px;
  opacity: 0.6;
  transition: opacity ease-in 0.3s;
}
.sub__rules:hover, .sub__policy:hover, .sub__develop:hover {
  opacity: 1;
}
.sub__policy {
  text-decoration: underline;
}
.sub__develop {
  color: #CC0C01;
}

@media (max-width: 376px) {
  .sub__navigation {
    flex-wrap: wrap;
    margin-top: 10%;
  }

  .sub__rules, .sub__policy, .sub__develop {
    width: 100%;
    margin-top: 4%;
    text-align: center;
  }
}
/************* End Footer *************/