<div class="card card_wrapper">
    <img src="@@img_card" class="card-img slider__card_img" alt="@@alt_img ">
    <div class="card-img-overlay slider__card_box">
        <div class="card_social_network_person">
            <a href="@@link_instagram" class="card_social_link">
                <img src="@img/instagram.svg" alt="icon instagram">
            </a>
        </div>
        <div class="text_wrapper">
            <div class="text_content">
                <p class="card_name_person">@@name_person</p>
                <p class="card-text">@@description</p>
            </div>
        </div>
    </div>
</div>