<div class="col-md-6 p-0 card_left">
    <div class="card m-0">
        <div class="row g-0 p-4 position-relative">
            <div class="col-xl-8">
                <div class="card-body">
                    <h5 class="card-title mb-3">@@title</h5>
                    <p class="card-text mb-3"><small class="text-muted">@@text</small></p>
                    <!-- <div class="card_btn_price">
                        <a href="#" class="card_btn">Подробнее <img src="img/Arrow_next.svg" alt="arrow next "></a>
                    </div> -->
                    @@include('../modalWindow/_modals_services.html',{
                        id:'@@name__id'
                    })
                </div>
            </div>
            <div class="col-xl-4 align-self-center">
                <img src="@@img_path" class="img-fluid rounded-start" alt="@@text_alt">
                <p class="card_price position-absolute bottom-0 end-5"> @@price</p>
            </div>
        </div>
    </div>
</div>