<div class="col-md-6 col-xl-4 mb-3">
    <div class="card text-white">
        <img src="@@img_path" class="card-img" alt="photo our done work">
        <div class="card-img-overlay result__card_content">
            <div class="card__title_wrapper">
                <h6 class="card__title_above">@@title_above</h4>
                <h5 class="card-title">@@title</h5>
            </div>
            <p class="card-text">@@text</p>
            <a href="#" class="card_btn">@@text_button <img src="img/Arrow_next.svg" alt="icon arrow next"></a>
        </div>
    </div>
</div>